!!! 5
%html{:lang => I18n.locale}
  %head
  	%title= "[Default title] #{yield(:title)}"
		/meta
    %meta{ :charset => "utf-8" }/
		%meta{ :name => "robots", :content => "noindex, nofollow" }/
		%meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }/
		%meta{ 'http-equiv' => "pragma", :content => "no-cache" }/
		%meta{ 'http-equiv' => "imagetoolbar", :content => "no" }/
		%meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :content => "", :name => "description" }/
    %meta{ :content => "", :name => "author" }/
    %meta{ :content => "", :name => "keywords" }/
    %meta{ :content => "", :name => "copyright" }/    
    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :content => "width=device-width; initial-scale=1.0", :name => "viewport" }/

		/dublincore
		%link{:rel => "meta", :type => "application/rdf+xml", :href => "application.rdf"}	

		/hidden nav
		%link{:rel => "shortcut icon", :type => "vnd.microsoft.icon", :href => "/images/favicon.ico"}	
		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}	
		%link{:rel => "apple-touch-icon", :href => "/images/ipicon.png"}	
		%link{:rel => "start", :href => "[Web URL]", :title => "[Default title]"}	
		%link{:rel => "made", :href => "mailto:info@recrea.es"}	
		%link{:rel => "alternate", :type => "application/rss+xml", :href => "[RSS URL]", :title => "RSS"}	

    = raw stylesheet_link_merged('screen', :media => 'screen, projection')
    = raw stylesheet_link_merged('print', :media => 'print')
    /[if lt IE 8]
      = raw stylesheet_link_merged('ie', :media => 'screen, projection')
    = raw stylesheet_link_merged('handheld', :media => 'handheld')    
    = csrf_meta_tag
  %body
    #container
      #header HEADER
      #sidebar SIDEBAR
      #content
        #flash
          - flash.each do |key, value|
            %div{ :title => key.to_s.humanize, :class => key }
              %p= value
        = yield
      #footer
        %p.copyright
          Copyright &copy; #{Date.today.year}
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = raw javascript_include_merged(:base)